TodoApi/TodoApi/obj/project.assets.json
TodoApi/TodoApi/obj/TodoApi.csproj.nuget.dgspec.json
TodoApi/TodoApi/obj/TodoApi.csproj.nuget.g.props
TodoApi/TodoApi/obj/TodoApi.csproj.nuget.g.targets
TodoApi/TodoApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TodoApi/TodoApi/obj/Debug/net6.0/TodoApi.AssemblyInfo.cs
TodoApi/TodoApi/obj/Debug/net6.0/TodoApi.GeneratedMSBuildEditorConfig.editorconfig
TodoApi/TodoApi/obj/Debug/net6.0/TodoApi.GlobalUsings.g.cs
